@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: darkgrey;
    padding: 20px;
    overflow: hidden;
}

.container {
    width: 100%;
}

.Faq-container {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.FaqItem-container {
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgb(37, 133, 218) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.que-box {
    font-size: larger;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
    background-color: rgb(147, 175, 228);
    
}
.que:hover {
    background-color: darkgray;
}

.Ans-Container {
    background-color: #fff;
    max-height: 0px;
    overflow: hidden;
    transition: height 3s ease;
}
.Ans {
    font-size: x-large;
    font-weight: 500;
    padding: 10px;
}
.FaqItem-container.active .Ans-Container{
    max-height:300px;
}
    
